Repository rg-km/se-be2-kelompok8, changes with the labels that .github/labeler.yml gives for each.
All labels: website, repo, github, assets

deploy: 05a26b47744ba099ed2b00aa3e8d0c12922bb5c5
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
  index.html
  index.js
Labels: repo, assets

menambahkan obstecel
  index.html
  index.js
Labels: repo

deploy: 9cc107641e765856ccd709ce69d49aa7b3a994f6
  index.html
  index.js
Labels: repo

nambah gambar ular
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
Labels: assets

nambah kepala coba di cek
  index.html
  index.js
Labels: repo

deploy: 4addcc7d452b2dd52417fc04cac232ee115aa992
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
  index.html
  index.js
Labels: repo, assets

fix after collision seletelah merge terakhir
  assets/lives.png
  index.js
Labels: repo, assets

deploy: d0aef7fa96ba10403643556af7a82d69ce00f480
  assets/lives.png
  index.js
Labels: repo, assets

.github/labeler.yml:

website:
- "site/**"
repo:
- "*"
github:
- ".github/**"
assets:
- "assets/**"
