Repository rg-km/se-be2-kelompok8, pull requests merged in 2022-03, with the labels that each got.

#5 update ci config
  .github/labeler.yml
  .github/workflows/gh-pages.yml
Labels: ci

#6 reconfig ci
  .github/workflows/gh-pages.yml
Labels: ci, github

#7 add prime number
  assets/eat.mp3
  index.js
Labels: repo, assets

#8 add collision
  index.js
Labels: repo

#9 add level
  assets/wood.png
  index.html
  index.js
  styles.css
Labels: repo, assets

#11 Kepalaahs
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .nojekyll
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
  index.html
  index.js
Labels: github, repo, assets

#10 Ahsular
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .nojekyll
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
  index.html
  index.js
Labels: github, repo, assets

#12 menambahkan obstecel
  index.html
  index.js
Labels: repo

#13 mengganti gambar ular
  assets/head_snake.png
  assets/left_head.png
  assets/right_head.png
  assets/up_head.png
  index.html
  index.js
Labels: repo, assets
